c331033 김윤진

# 기출문제

In [77]:
a = 123; print(a)

123

In [78]:
a = "Python"; print(a)

Python

In [79]:
a = 6/3; print(a)

2.0

In [80]:
a = 234; print(type(a))

<class 'int'>

In [81]:
a = 6/3; print(type(a))

<class 'float'>

In [82]:
a = 6 - 4; print(type(a))

<class 'int'>

In [83]:
a = 6-5.0; print(type(a))

<class 'float'>

In [84]:
a = (); print(type(a))

<class 'tuple'>

In [85]:
a = {}; print(type(a))

<class 'dict'>

In [86]:
a = []; print(type(a))

<class 'list'>

In [87]:
a = (1); print(type(a))

<class 'int'>

In [88]:
a = (1,); print(type(a))

<class 'tuple'>

In [89]:
a = (1,2,3); print(type(a))

<class 'tuple'>

In [90]:
a = 1,2; print(type(a))

<class 'tuple'>

In [91]:
ab = 1,2; print(type(a))

<class 'tuple'>

In [92]:
a = [1,2,3]; print(type(a))

<class 'list'>

In [93]:
a = {1:1,2:2,3:3}; print(type(a))

<class 'dict'>

In [94]:
a = {1,2,3}; print(type(a))

<class 'set'>

In [95]:
a = 6**3; print(type(a))

<class 'int'>

In [96]:
a = (2**3)**2; print(type(a))

<class 'int'>

In [97]:
a = 10 % 3; print(a)

1

In [98]:
a = 10//3; print(a)

3

In [99]:
a = 6 //7; print(a)

0

In [100]:
a = 100 // 3 % 10; print(a)

3

In [101]:
a = 6 % 8; print(a)

6

In [102]:
a = 3; a += 0.5; print(a)

3.5

In [103]:
a = 3; a -= 0.5; print(a)

2.5

In [104]:
a = 3; a *= 0.5; print(a)

1.5

In [105]:
a = 30; a %= 10; print(a)

0

In [106]:
a = 30; a //= 7; print(a)

4

In [107]:
a = 30; a **= 2; print(a)

900

In [108]:
a = "Python"; a *= 3; print(a)

PythonPythonPython

In [109]:
a = "Python"; a + "is the best."; print(a)

Python

In [110]:
a = "Python"; a = a + " is the best."; print(a)
a = "Python"; a = a[0] + 2*a[3] + a[-1]; print(a)
a = "Python"; a = a[:]; print(a)
a = "Python"; a = a[0:-1]; print(a)
a = "Python"; a = a[2:5]; print(a)

Python is the best.
Phhn
Python
Pytho
tho

In [111]:

a = "Python"; a = a[2:]; print(a)
a = "Python"; a = a[:3]; print(a)
a = "Python"; a = a[2:0]; print(a)
a = "Python"; a = a + str(3.6); print(a)

thon
Pyt

Python3.6

In [112]:
n = 3; a = f"i eat {n} apples"; print(a)
n = 3.99; a = f"i eat {n} apples"; print(a)
n = 3.99; a = f"i eat {0} apples"; print(a)
n = 3; a = f"i eat {n}+{n} apples"; print(a)

i eat 3 apples
i eat 3.99 apples
i eat 0 apples
i eat 3+3 apples

In [113]:

n = 3; a = f"i eat {n+n} apples"; print(a)
n = 3; a = f"i eat {n**2} apples"; print(a)
n = 3; a = f"i eat {n+n+n} apples"; print(a)
n = 3; a = f"i eat {n*3} apples"; print(a)

i eat 6 apples
i eat 9 apples
i eat 9 apples
i eat 9 apples

In [114]:
a = "Hobby is good"; a = a.count("o"); print(a)
a = "Hobby is good"; a.count("o"); print(a)
a = "Hobby is good"; a = a.count("o"); print(a)
a = "Hobby is good"; a = print(a.count("o"))
a = "Hobby is good"; a = print(a.count(a))
a = "Hobby is good"; a = print(a.find("o"))

3
Hobby is good
3
3
1
1

In [115]:

a = "Hobby is good"; a = print(a.find("g"))
a = "Hobby is good"; a = print(a.find(" "))
a = "Hobby is good"; a = print(a.find(" g"))
a = "Hobby is good"; a = print(a.find("k"))
a = "Hobby is good"; a = print(a.index("g"))

9
5
8
-1
9

In [116]:
a = "Python"; a.join(","); print(a)
a = "Python"; print(a.join(',,,,'))
a = "Python"; ",".join(a); print(a)
a = "Python"; ','.join(a); print(a)
a = "Python"; a = ",".join(a); print(a)
a = "Python"; print(a.upper())
a = "Python"; print(a.lower())

Python
,Python,Python,Python,
Python
Python
P,y,t,h,o,n
PYTHON
python

In [117]:
a = "Python"; a.replace("P","T"); print(a)
a = "Python"; a = a.replace("P","T"); print(a)
a = "Python"; a = a.replace("T","P"); print(a)
a = "P,y,t,h,o,n"; a = a.replace(",",""); print(a)
a = "Python"; a = a.split(","); print(a)
a = "Python"; a = a.split("t"); print(a)

Python
Tython
Python
Python
['Python']
['Py', 'hon']

In [118]:


a = "P,y,t,h,o,n"; a = a.split(","); print(a)
a = "P y t h o n"; a = a.split(); print(a)
a = "P y t h o n"; a = a.split(" "); print(a)
a = "P y t h o n"; a = a.split(","); print(a)
a = "Python"; a = ",".join(a).split(","); print(a)

['P', 'y', 't', 'h', 'o', 'n']
['P', 'y', 't', 'h', 'o', 'n']
['P', 'y', 't', 'h', 'o', 'n']
['P y t h o n']
['P', 'y', 't', 'h', 'o', 'n']

In [119]:
a = [1,2,['Life','is']]; print(a)
a = [1,2,['Life','is']]; print(a[0])
a = [1,2,['Life','is']]; print(a[:1])
a = [1,2,['Life','is']]; print(a[2][1])
a = [1,2,['Life','is']]; print(a[1:3][1])
a = [1,2,['Life','is']]; print(a[-1][1][-1])

[1, 2, ['Life', 'is']]
1
[1]
is
['Life', 'is']
s

In [120]:
a = [1,2,['Life','is']]; print(a[2][:])
a = [1,2,['Life','is']]; print(type(a))
a = [1,2,['Life','is']]; print(type(a[0]))
a = [1,2,['Life','is']]; print(type(a[:1]))
a = [1,2,['Life','is']]; print(type(a[2][1]))

['Life', 'is']
<class 'list'>
<class 'int'>
<class 'list'>
<class 'str'>

In [121]:


a = [1,2,['Life','is']]; print(type(a[1:3][1]))
a = [1,2,['Life','is']]; print(type(a[-1][1][-1]))
a = [1,2,['Life','is']]; print(type(a[2][:]))

<class 'list'>
<class 'str'>
<class 'list'>

In [122]:
a = [1,2]; b = [3,4]; print(a+b)
a = [1,2]; b = [3,4]; print(3*a)
a = [1,2]; b = [3,4]; print((a+b)*2)
a = [1,2]; b = [3,4]; print(str(a))
a = [1,2]; b = [3,4]; print(len(a+b))

[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]
[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2]
4

In [123]:
a = [1,2]; b = [3,4]; a[0] = b; print(a)
a = [1,2]; b = [3,4]; a[0] = []; print(a)
a = [1,2]; b = [3,4]; del a[0]; print(a)
a = [1,2]; b = [3,4]; a[0:1]; print(a+b)

[[3, 4], 2]
[[], 2]
[2]
[1, 2, 3, 4]

In [124]:

a = [1,2]; b = [3,4]; a[0:1] = []; print(a+b)
a = [1,2]; b = [3,4]; del a[0:1]; print(a)
a = [1,2]; b = [3,4]; a.append(b); print(a)
a = [1,2]; b = [3,4]; a.append("b"); print(a)

[2, 3, 4]
[2]
[1, 2, [3, 4]]
[1, 2, 'b']

In [125]:
a = [1,4,3,4]; a.sort(); print(a)
a = [1,4,3,4]; b = a.sort(); print(b)
a = [1,4,3,4]; a.sort(reverse=True); print(a)
a = [1,4,3,4]; a.reverse(); print(a)
a = [1,4,3,4]; b = a.reverse(); print(b)
a = [1,4,3,4]; b = a.index(3); print(b)

[1, 3, 4, 4]
None
[4, 4, 3, 1]
[4, 3, 4, 1]
None
2

In [126]:

a = [1,4,3,4]; a.index(3); print(a) 
a = [1,4,3,4]; a.insert(3,5); print(a) 
a = [1,4,3,4]; a.insert(3,[5,6,7]); print(a) 
a = [1,4,3,4]; a.remove(3); print(a) 
a = [1,4,3,4]; a.remove(4); print(a)

[1, 4, 3, 4]
[1, 4, 3, 5, 4]
[1, 4, 3, [5, 6, 7], 4]
[1, 4, 4]
[1, 3, 4]

In [127]:
a = [1,2,3,4]; b = a.pop(); print(a) 
a = [1,2,3,4]; b = a.pop(); print(b) 
a = [1,2,3,4]; b = a.pop(2); print(a) 
a = [1,2,3,4]; b = a.pop(2); print(b)

[1, 2, 3]
4
[1, 2, 4]
3

In [128]:

a = [1,2,3,4]; b = a.count(0); print(b) 
a = [1,2,3,4]; b = a.count(4); print(b) 
a = [1,2,3,4]; b = a.pop(); print(a) 
a = [1,2,3,4]; b = a.pop(); print(b)

0
1
[1, 2, 3]
4

In [129]:
a = [1,2]; b = [3,4]; a.extend(b); print(a) 
a = [1,2]; b = [3,4]; a.extend(b+b); print(a) 
a = [1,2]; b=[3,4]; a += b; print(a) 
a = [1,2]; b= [3,4]; a += a+b; print(a)

[1, 2, 3, 4]
[1, 2, 3, 4, 3, 4]
[1, 2, 3, 4]
[1, 2, 1, 2, 3, 4]

In [130]:
a = [1,2,3,4]; print(len(a))
a =(1,2,3,4); print(len(a)) 
a = (1,(2,3),4); print(len(a)) 
a = 1,2,3,4; print(len(a))

4
4
3
4

In [131]:
a = (1,2); b = (3,4); a += a+b; print(a) 
a = (1,2); b = (3,4); print(a+b) 
a = (1,2); b = (3,4); print(3*a) 
a = (1,2); b = (3,4); print((a+b)*2)

(1, 2, 1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
(1, 2, 3, 4, 1, 2, 3, 4)

In [132]:

a = (1,2); b = (3,4); print(str(a)) 
a = (1,2); b = (3,4); print(len(a+b))
a = (1,2); b = (3,4); a = b; print(a) 
a = (1,2); b = (3,4); a = b[0]; print(a)

(1, 2)
4
(3, 4)
3

In [133]:
a = (1,2,3,4); b = a[0:3]; print(b) 
a = (1,2,3,4); b = a[0]; print(b) 
a = (1,2,3,4); b = a[0:3]; print(type(b))

(1, 2, 3)
1
<class 'tuple'>

In [134]:

a = (1,2,3,4); a += (5,); print(a) 
a = (1,2,3,4); a *=2; print(a)
a,b,c = 1,2,3; print((c,a,b)) 
a,b,c=1,2,3; c,b,a= a,b,c; d = a,b,c; print(d)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 1, 2, 3, 4)
(3, 1, 2)
(3, 2, 1)

In [135]:
a = {0:"a"}; a[1] = "b"; a[2] = "c"; print(a)
a = {0:"a", 1:"b", "2":"c"}; a[1] ="d"; print(a)
a = {0:"a", 1:"b", "2":"c"}; print(a["2"]) 
a = {0:"a", 1:"b", "2":"c"}; print(type(a["2"])) 
a = {0:"a", 1:"b", "2":"c"}; print(list(a.keys()))

{0: 'a', 1: 'b', 2: 'c'}
{0: 'a', 1: 'd', '2': 'c'}
c
<class 'str'>
[0, 1, '2']

In [136]:

a = {0:"a", 1:"b", "2":"c"}; print(list(a.values())) 
a = {0:"a", 1:"b", "2":"c"}; print(min(a.values()))
a = {0:"a", 1:"b", "2":"c"}; print(tuple(a.values()))
a = {0:"a", 1:"b", "2":"c"}; print(tuple(a.items()))

['a', 'b', 'c']
a
('a', 'b', 'c')
((0, 'a'), (1, 'b'), ('2', 'c'))

In [137]:
a = {0:"a", 1:"b", "2":"c"}; print(a.clear())
a = {0:"a", 1:"b", "2":"c"}; print(a.get(1)) 
a = {0:"a", 1:"b", "2":"c"}; print(a.get("c")) 
a = {0:"a", 1:"b", "2":"c"}; print(a.get(0,"bar"))

None
b
None
a

In [138]:

a = {0:"a", 1:"b", "2":"c"}; print(a.get("c","bar")) 
a = {0:"a", 1:"b", "2":"c"}; print("a" in a) 
a = {0:"a", 1:"b", "2":"c"}; print(0 in a)

bar
False
True

In [139]:
a = {7:"a", (1):"b", "2":"c"}; print(a)
a = {7.65:"a", (1,):"b", "2":"c"}; print(a)
a = {"":"a", (1,3):"b", "2":"c"}; print(a)
a = {"":"a", (1,3):"b", "2":"c"}; del a[""]; print(a)
a = {"":"a", (1,3):"b", "2":"c"}; del a[(1,3)]; print(a)

{7: 'a', 1: 'b', '2': 'c'}
{7.65: 'a', (1,): 'b', '2': 'c'}
{'': 'a', (1, 3): 'b', '2': 'c'}
{(1, 3): 'b', '2': 'c'}
{'': 'a', '2': 'c'}

In [140]:
a = {1,2,3,1,2,3}; print(a) 
a = {1,2,3,1,2,3}; print(type(a))
a = {1,2,3,1,2,3}; print(list(a))
a = [1,2,3,1,2,3]; print(set(a)) 
a = [1,2,3,1,2,3]; print(list(set(a)))
a = {1,2,3,1,2,3}; print(a & a) 
a = {1,2,3,1,2,3}; print(a | a)

{1, 2, 3}
<class 'set'>
[1, 2, 3]
{1, 2, 3}
[1, 2, 3]
{1, 2, 3}
{1, 2, 3}

In [141]:
a ={1,2,3}; b ={1,2,4}; print(a & b) 
a ={1,2,3}; b ={1,2,4}; print(a | b) 
a ={1,2,3}; b ={1,2,4}; a.intersection(b); print(a) 
a ={1,2,3}; b ={1,2,4}; a.intersection(b); print(b) 
a ={1,2,3}; b ={1,2,4}; a.union(b); print(a)

{1, 2}
{1, 2, 3, 4}
{1, 2, 3}
{1, 2, 4}
{1, 2, 3}

In [142]:

a ={1,2,3}; b ={1,2,4}; a.union(b); print(b) 
a ={1,2,3}; b ={1,2,4}; a.difference(b); print(a) 
a ={1,2,3}; b ={1,2,4}; a.difference(b); print(b) 
a ={1,2,3}; b ={1,2,4}; print(a - b) 
a ={1,2,3}; b ={1,2,4}; print(b - a)

{1, 2, 4}
{1, 2, 3}
{1, 2, 4}
{3}
{4}

In [143]:
a ={1,2,3}; a.add(3); print(a) 
a ={1,2,3}; a.add((3,4)); print(a) 
a ={1,2,3}; a.update({}); print(a) 
a ={1,2,3}; a.update({3,4}); print(a) 
a ={1,2,3}; a.update([3,4]); print(a)

{1, 2, 3}
{1, 2, 3, (3, 4)}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [144]:
a = {1,2,3,1,2,3}; a.remove(3); print(a) 
a = {1,2,3}; a.remove(3); print(a) 
a = [1,2,3,1,2,3]; print(bool(a)) 
a = [1,2,3,1,2,3]; print(type(set(a)))
a = [1,2,3]; print(1 in a)

{1, 2}
{1, 2}
True
<class 'set'>
True

In [145]:
a = -1000; print(bool(a)) 
a = None; print(bool(a))
a = []; print(bool(a)) 
a = (); print(bool(a))
a = (); print(not bool(a)) 
a = 10; print(bool(a) == False)
a = ""; print(bool(a) == False)
a = 10; print(a == True)

True
False
False
False
True
False
True
False

In [146]:
print(True and False) 
print(True and not False) 
print(False and not False and True or False and not True) 
print(True or not False and True or False and not True) 
print(True and not False) 
print(not True or not False) 
print(not True or False) 
print(not True and not False)

False
True
False
True
True
True
False
False

In [147]:
print(10 == 10 and 12 != 10) 
a = 10; print(a > 1 and a <= 10) 
a = range(10); print(3 in a) 
a = range(10); print(10 in a) 
a = range(10); print(0 in a) 
a = range(10); print(9.9 in a) 
a = range(5,10); print(4 in a) 
a = range(10); print(a[5])
a = range(10); print(a[3:5])

True
True
True
False
True
False
False
5
range(3, 5)

In [148]:
a = 10; b = a; print(a is b) 
a = [1,2,3]; b = a; print(a is b) 
a = (1,2,3); b = a; print(a is b) 
a = [1,2,3]; b = a[:]; print(a is b) 
a = (1,2,3); b = a[:1]; print(a is b) 
a = [1,2,3]; b = a[:1]; print(id(a) == id(b)) 
a = [1,2,3]; b = a; print(id(a) == id(b))

True
True
True
False
False
False
True

In [149]:
a = [1,2,3]; b = a; a[0]=4; print(a == b) 
a = (1,2,3); b = (1,2,3); print(a == b) 
a = (1,2,3); b = (1,2,3); print(a is b) 
a = [1,2,3]; a += a; print(a == a) 
a = [1,2,3]; b = a; a.append(4); print(a is b)
a = [1,2,3]; b = a; a = a+b; print(a is b)

True
True
False
True
True
False

In [150]:
a = b = c =(1,2,3); print(a is b) 
a = b = c =(1,2,3); print(a == c) 
a = b = c =(1,2,3); print(a != b)

True
True
False

In [151]:
num = 0
if num: 
   print(num)

이 코드는 아무 것도 출력하지 않습니다. 왜냐하면 if num: 조건에서 num이 0일 경우, 파이썬에서는 0을 거짓(False) 으로 간주하기 때문입니다.

즉,
if num: → if False: 와 같고,
그래서 print(num)는 실행되지 않아요.

In [152]:
num = 10
if num: 
   print(num)

10

In [153]:
if True: 
   pass 
   print(100)

100

In [154]:
num = 10 
if num <= 5: 
   print(num) 
else: 
    print(-100)

-100

In [155]:
num = 10 
if num >= 50: 
   print(num)
elif num <= -50: 
   print(-num)

In [156]:
num = 10 
if num >= 50: 
   print(num)
elif num <= -50: 
   print(-num)
else: 
   print(0)

0

In [157]:
num = 80; score = "A" if num >= 60 else "C"; print(score) 
num = 40; score = "A" if num >= 60 else "C"; print(score) 
num = 80; oe = "even" if num%2 == 0 else "odd"; print(oe)
num = 23; oe = "even" if num%2 == 0 else "odd"; print(oe)

A
C
even
odd

In [158]:
a = 0 
while a < 3: 
    a = a+1 
    if a % 2 == 0: continue 
    print(a)

1
3

In [159]:
a = 3
while a < 3: 
    a = a+1 
    print(a)

In [160]:
a = 0 
while a < 3: 
    print(a)
    a = a+1

0
1
2

In [161]:
a = 0 
while a < 5: 
    print(a, end="")
    a = a+1

01234

In [162]:
a = 0 
while a < 5: 
    a = a+1 
    continue
    print(a)

In [163]:
a = 0 
while a < 5: 
    a = a+1 
    break
    print(a)

In [164]:
a = 1
while a < 5: 
    a *=2
    print(a, end="")

248

In [165]:
for i in range(3):
     print(i)

0
1
2

In [166]:
for i in range(1,3):
     print(i)

1
2

In [167]:
for i in range(5,1):
     print(i)

5에서 1보다 작아지도록 증가는 불가능하므로, 생성되는 숫자가 없습니다. 따라서 for 루프는 실행되지 않아요.

In [168]:
for i in range(5,1,-2):
     print(i)

5
3

In [169]:
for i in range(3):
     print(i,end="5")

051525

range(3) → 0, 1, 2

print(i, end="5")는 기본 줄바꿈 없이 i를 출력하고, 그 뒤에 "5"를 붙임

In [170]:
for i in range(10):
     print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [171]:
for i in [7,1,3,2,5]:
     print(i,end=" ")

7 1 3 2 5

In [172]:
for i in (7,1,3,2,5):
     print(i,end=" ")

7 1 3 2 5

In [173]:
a =[]
for i in (7,1,3):
    a.append(i) 
print(a)

[7, 1, 3]

In [174]:
a =[i**2 for i in [1,2,3]]; print(a)
a= [i+i for i in [1,2,3]]; print(a) 
a = [i+j for i in [1,2,3] for j in (1,2)]; print(a) 
a = [i%j for i in [1,2,3] for j in (1,2)]; print(a) 
a =[(i,j) for i in [1,2,3] for j in (4,5)]; print(a) 
a =[{i,j} for i in [1,2,3] for j in (4,5)]; print(a)

[1, 4, 9]
[2, 4, 6]
[2, 3, 3, 4, 4, 5]
[0, 1, 0, 0, 0, 1]
[(1, 4), (1, 5), (2, 4), (2, 5), (3, 4), (3, 5)]
[{1, 4}, {1, 5}, {2, 4}, {2, 5}, {3, 4}, {3, 5}]

In [175]:
a = "Life"; b = [i for i in a if i in ("i",)]; print(b) 
a = "Life"; b = [i for i in a if i not in ("i",)]; print(b)

['i']
['L', 'f', 'e']

In [176]:
ids = [1, 2, 3] 
names = ['aaa', 'bbb', 'ccc'] 
students = zip(ids, names) 
print(list(students))

[(1, 'aaa'), (2, 'bbb'), (3, 'ccc')]

In [177]:
ids = [1, 2] 
names = ['aaa', 'bbb', 'ccc'] 
students = zip(ids, names) 
print(list(students))

[(1, 'aaa'), (2, 'bbb')]

In [178]:
ids = [1, 2, 3] 
names = ['aaa', 'bbb', 'ccc'] 
students = zip(ids, names) 
ids, names = zip(*students)
print(ids, names)

(1, 2, 3) ('aaa', 'bbb', 'ccc')

In [179]:
ids = [1, 2, 3] 
names = ['aaa', 'bbb', 'ccc'] 
students = zip(ids, names) 
print(dict(students))

{1: 'aaa', 2: 'bbb', 3: 'ccc'}

In [180]:
ids = [1, 2, 3] 
names = ['aaa', 'bbb', 'ccc'] 
ages = [21, 22, 23] 
students = zip(ids, names, ages) 
print(list(students))

[(1, 'aaa', 21), (2, 'bbb', 22), (3, 'ccc', 23)]

In [181]:
ids = [1, 2,3] 
names = ['aaa', 'bbb', 'ccc'] 
ages = [21, 22, 23] 
students = zip(ids, zip(names, ages)) 
print(dict(students))

{1: ('aaa', 21), 2: ('bbb', 22), 3: ('ccc', 23)}

In [182]:
ids = [1, 2, 3] 
names = ['aaa', 'bbb', 'ccc'] 
ages = [21, 22, 23] 
students = zip(ids, [names, ages]) 
print(dict(students))

{1: ['aaa', 'bbb', 'ccc'], 2: [21, 22, 23]}

In [183]:
nums = [1,2,3] 
addTen = lambda x:x+10 
print(list(map(addTen, nums)))

[11, 12, 13]

In [184]:
nums = [1,2,3] 
addTen = lambda x:x+10 
print(tuple(map(addTen, nums)))

(11, 12, 13)

In [185]:
nums = [1,2,3] 
print(tuple(map(lambda x:x+10, nums)))

(11, 12, 13)

In [186]:
nums = [1,2,3] 
isOdds = lambda x: x%2==1
print(tuple(map(isOdds, nums)))

(True, False, True)

In [187]:
nums = [1,2,3] 
isOdds = lambda x: x%2==1
print(list(filter(isOdds, nums)))

[1, 3]

In [188]:
nums = [1,2,3] 
isOdds = lambda x: x%2==1
print(tuple(filter(isOdds, nums)))

(1, 3)

In [189]:
nums = [1,2,3] 
print(list(filter(lambda x: x%2==1, nums)))

[1, 3]

In [190]:
print([num for num in range(1, 4) ])
print([num+10 for num in range(1, 4)]) 
print([num**3 for num in range(1, 4)]) 
print([x*3 for x in ['a', 'b', 'c']]) 
print([x*3 for x in 'abc'])

[1, 2, 3]
[11, 12, 13]
[1, 8, 27]
['aaa', 'bbb', 'ccc']
['aaa', 'bbb', 'ccc']

In [191]:
print([num for num in range(1, 4) if num%2==1])
print([num**3 for num in range(1, 4) if num%2==0]) 
print([num if num%2==1 else num**3 for num in range(1, 4)])
print([x+y for x in [1, 2] for y in [10, 20]])
print([x+y for x in ['a', 'b'] for y in ['c', 'd']])
print([x+y for x in ['a', 'b'] for y in ['a', 'c'] if x!=y])

[1, 3]
[8]
[1, 8, 3]
[11, 21, 12, 22]
['ac', 'ad', 'bc', 'bd']
['ac', 'ba', 'bc']

In [192]:
print({key:10 for key in [1, 2, 3]}) 
print({key:False for key in ['A', 'B', 'C']})
print({key:value for key in [1, 2, 3] for value in ['A', 'B', 'C']}) 
print({key:value for value in [1, 2, 3] for key in ['A', 'B', 'C']}) 
print({x for x in 'abcabcabc'}) 
print({x for x in [1,2,3,1,2,3]}) 
print({x**2 for x in [1,2,3,1,2,3]})

{1: 10, 2: 10, 3: 10}
{'A': False, 'B': False, 'C': False}
{1: 'C', 2: 'C', 3: 'C'}
{'A': 3, 'B': 3, 'C': 3}
{'a', 'c', 'b'}
{1, 2, 3}
{1, 4, 9}